body {
  background: rgb(235,240,245);
  color: rgb(135,140,145);
  font-family: Helvetica, sans-serif;
}

h3 {
  color: rgb(237, 20, 91);
}

#keyboard {
  position: relative;
  top: 250px;
}

.key {
  display: inline-block;
  background: rgb(245,250,255);
  color: rgb(10,5,0);
  font-weight: bold;
  width: 50px;
  height: 200px;
  border: 1px solid black;
  position: absolute;
  z-index: 0;
  box-shadow: 1px 1px 10px #999;
  text-align: center;
  vertical-align: bottom;
}

.black {
  color: rgb(245,250,255);
  background: rgb(10,5,0);
  height: 125px;
  width: 35px;
  z-index: 1;
}